---
name: QA report
about: Describe this issue template's purpose here.
title: "[QA]"
labels: 'QA'
assignees: ''

---

<!--이미지 첨부-->

### 발견 시간


### 해결 시간
